<link rel="stylesheet" href="/static/text.css" />
<div id="viewer">
  <div id="files">
    {{range .List}}
    <div class="file">
      <img src="/static/icons/{{.Type}}.svg" class="icon type" />
      <a class="name" href="../{{.Path}}" hx-boost="false">
        {{.Name}}
      </a>
      <p class="ext">
        {{.Ext}}
      </p>
    </div>
    {{end}}
  </div>
  <div id="main">
    <p id="title">{{.Path}}</p>
    <pre id="content">Loading...</pre>
  </div>
</div>
<script src="/static/text.js"></script>
