<link rel="stylesheet" href="/static/video.css" />
<div id="player">
  <video autoplay name="media" id="video">
    <source src="/data/{{.Path}}" type="video/mp4">
  </video>
  <div class="controls">
    <p class="path">{{.Path}}</p>
    <div class="bottom">
      <div class="progress-bar">
        <div class="total-bar"></div>
        <div class="played-bar"></div>
        <div class="loaded-bar"></div>
      </div>
      <div class="buttons">
        <div class="group">
          <button class="play">
            <img src="/static/icons/play.svg" class="icon" />
          </button>
          <button class="next">
            <img src="/static/icons/next.svg" class="icon" />
          </button>
          <p class="time"></p>
        </div>
        <div class="group">
          <div class="playback-options hide">
            <button value="2.0">x2.0</button>
            <button value="1.7">x1.7</button>
            <button value="1.5">x1.5</button>
            <button value="1.0">x1.0</button>
            <button value="0.5">x0.5</button>
          </div>
          <button class="playback">
            <img src="/static/icons/rate.svg" class="icon" />
          </button>
          <button class="fullscreen">
            <img src="/static/icons/fullscreen.svg" class="icon" />
          </button>
        </div>
      </div>
    </div>
    <div class="right">
      <button class="playlistButton">
        <img src="/static/icons/playlist.svg" class="icon" />
      </button>
      <div class="playlist hide">
        {{range .PlayList}}
        <div class="item">
          <a class="name" href="{{.Path}}">{{.Name}}</a>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
<script src="/static/mobile.js"></script>
<script src="/static/video.js"></script>
