* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0d1117;
  color: white;
}

body::-webkit-scrollbar {
  width: 2px;
  background-color: white;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.location {
  font-size: 24px;
  font-weight: bold;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.file {
  display: flex;
  align-items: end;
}

.type {
  font-size: 12px;
  width: 100px;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.ext {
  font-size: 12px;
  font-weight: bold;
}

