@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0d1117;
  color: white;
  font-family: 'Pretendard-Regular';
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: white;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 2px;
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

img.icon {
  width: 24px;
  height: 24px;
  fill: white;
  border-color: white;
  color: white;
}

button {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
  border: none;
}

button:hover {
  cursor: pointer;
}

.location {
  font-size: 24px;
  font-weight: bold;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.file {
  display: flex;
  align-items: end;
}

.type {
  font-size: 12px;
  width: 100px;
}

.name {
  font-size: 16px;
  font-weight: bold;
}

.ext {
  font-size: 12px;
  font-weight: bold;
}

button {
  transition: all 0.3s ease-in-out;
  padding: 1px;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
