html body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

#player {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#player > .controls {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.controls > .path {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 2px;
  padding: 4px;
}

.controls > .right {
  position: absolute;
  top: 4;
  right: 4;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.right > .playlist {
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 2px;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.playlist.hide {
  transform: translateX(calc(100% + 20px));
}

.controls > .bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  height: 48px;
  width: 100%;
  padding: 0 12px;
}

.controls > .bottom > .progress-bar {
  height: 10px;
  width: 100%;
  position: relative;
}

.controls > .bottom > .progress-bar:hover {
  cursor: pointer;
}

.progress-bar > .total-bar {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.progress-bar > .played-bar {
  height: 4px;
  bottom: 0;
  left: 0;
  width: 0;
  position: absolute;
  background-color: #687EFF;
}

.progress-bar > .loaded-bar {
  height: 4px;
  bottom: 0;
  left: 0;
  width: 0;
  position: absolute;
}

.bottom > .buttons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.buttons > .group {
  position: relative;
  display: flex;
  gap: 4px;
}

.time {
 margin-left: 12px;
}

.playback-options {
  display: flex;
  gap: 8px;
  font-size: 12px;
  margin-right: 4px;
}

.playback-options.hide {
  display: none;
}

#player > video {
  width: 100%;
  height: 100%;
  background-color: black;
}

