html body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

#player {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#player > .controls {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.controls > .title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 2px;
  padding: 4px;
}

.controls > .playlistButton {
  position: absolute;
  top: 4;
  right: 4;
}

.controls > .playlist {
  position: absolute;
  max-height: 60%;
  margin-right: 4px;
  margin-top: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 2px;
  right: 4;
  top: 4;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.hide {
  transform: translateX(calc(100% + 20px));
}

.controls > .bottom {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  height: 48px;
  width: 100%;
  padding: 0 12px;
}

.controls > .bottom > .progress-bar {
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.progress-bar > .played-bar {
  top: 0;
  left: 0;
  width: 0;
  position: absolute;
  height: 100%;
  background-color: #687EFF;
}

.progress-bar > .loaded-bar {
  top: 0;
  left: 0;
  width: 0;
  position: absolute;
  height: 100%;
  height: 100%;
}

.controls > .bottom > .buttons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}


#player > video {
  width: 100%;
  height: 100%;
  background-color: black;
}

.controls > .playlist::-webkit-scrollbar {
  width: 2px;
  background-color: white;
}

.controls > .playlist::-webkit-scrollbar-track {
  background-color: black;
}
